body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
a {
    text-decoration: none;
    color: #F9FAF8;
}

a:hover {
    color: lightgray;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 16px;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin: 0px;
}

h2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 24px;
}

h3 {
    font-size: 24px;
    color: #F9FAF8;
}

h4 {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;
    justify-content: center;
    align-items: center;
}

li, .secondary-text, .footer {
    font-size: 18px;
    color: #E5E7EB;
}

button{
    background-color: #3882F6;
    color: #F9FAF8;

}

button {
    padding: 4px 24px;
    margin: 8px 2px;
    border-radius: 8px;
}

.button-section-01 {
    border: #3882F6;
}

.section-01 {
    background-color: #1F2937;
}

.section-02 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.section-03 {
    background-color: #E5E7EB;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.section-04 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.footer {
    background-color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 16px;
}

.hero-section {
    display: flex;
    justify-content: center;
    gap: 32px;
    padding: 24px;
    flex: 1;
}

.hero-text, .secondary-text {
    display: flex;
}

.hero-left-side {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.hero-image {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 200px;
    width: 800px;
    flex: 0;
}

.image-line {
    display: flex;
    padding: 24px;
    gap: 64px;
}

.image-combo {
    display: flex;
    flex-direction: column;
    justify-content: flex;
    align-items: center;
    gap: 12px;
    max-width: 150px;
}

.image-text, .image-square {
    display: flex;
}

.image-square {
    height: 150px;
    width: 150px;
    border-radius: 12px;
    border-style: solid;
    border-color: #3882F6;
}

.image-text {
    text-align: center;
    flex-wrap: wrap;
}

.quote {
    display: flex;
    flex-direction: column;
    padding: 24px;
    gap: 12px;

}

h4, .signature {
    display: flex;
    margin: 0px;
}

.signature {
    justify-content: flex-end;
    align-items: center;
}

.call-to-action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3882F6;
    gap: 32px;
    padding: 36px 48px;
    margin: 24px;
    border-radius: 12px;
    flex: 1;
}

.call-text{
    color: #F9FAF8;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.call-main-text, .call-sub-text {
    display: flex;
    margin: 0px;
}

.call-main-text {
    font-size: 18px;
}

.call-button {
    display: flex;
    border-style: solid;
    border-color: #F9FAF8;
}